$primary-color: #f7f7ff;
// $font: Poppins, sans-serif;
$block-color: white;
$left-menu-color: transparent linear-gradient(190deg, #501769 0%, #382780 100%)
  0% 0% no-repeat padding-box;
$bell-dot-color: #ff6c7d;
$para-color: #ada9bf;
$font-color-1: black;
$card-1-color: #ebfaff;
$card-2-color: #f8f4ff;
$card-3-color: #fff2f2;
$card-4-color: #effff9;
$chart-color: #b5b5b5;
$dot-1-color: #3941ff;
$dot-2-color: #14d114;
$dot-3-color: #ff52c3;
$dot-border-color: #b24aff;
$calendar-font-color: #7e8fa0;
$table-color-1: #2b2838;
$page-display-color: #bbb7cd;
$skill-color-1: #3f2985;
$client-color: #a49fbc;
$comment-box-color: #e8e8e8;
$totalrevenue-indicator-color: #fd76d3;
$marginalrevenue-indicator-color: #707bf8;
$mobile-screen-color: rebeccapurple;
